Sign Up to start your Digitla Horticulture Journey TODAY

<form action='/signup' method ="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <br>
  <label for="email">Email:</label>
  <input type="string" name="email" id="email">
  <br>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <br>
  <input class="btn btn-primary" type="submit">
  </form>
