<% if flash.has?(:notice) %>
  <%= flash[:notice] %>
<% end %>

<p>Name your Garden:</p>
<form action="/garden" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
