<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

<title>Plant Space</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/stylesheets/main.css?<%= Time.now.strftime("%d-%m-%Y-%k-%M") %>" />
</head>
  <body>

    <div class="container">
      <h1>Plant Space</h1>
    </div>
  <%=yield%>
  </body>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <footer>
    <% if logged_in?%>
    <a href='/logout'>Logout</a> |*****|
    <a href='/plants/new'>Add Plant</a> |*****|
    <a href='/garden/edit'>Edit Garden</a>
    <%else%>
    Please Log In
    <%end%>
  </footer>

</html>
